*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: 8rem 1fr (minmax(min-content, 14rem))[8] 1fr;
      grid-template-columns: 8rem 1fr repeat(8, minmax(-webkit-min-content, 14rem)) 1fr;
      grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;
}

.sidebar {
  background-color: #c69963;
}

.header {
  background-color: #54483a;
}

.realtors {
  background-color: #101d2c;
}

.features {
  background-color: #aaa;
}

.story__pictures {
  background-color: #c69963;
}

.story__content {
  background-color: #f9f7f6;
}

.homes {
  background-color: #101d2c;
}

.gallery {
  background-color: #54483a;
}

.footer {
  background-color: #101d2c;
}
