.features {
  // background-color: $color-grey-light-2;
  grid-column: center-start / center-end;

  margin: 15rem 0;

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);

  // using this instead of the line above provides auto responsiveness
  // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // grid-gap: 6rem;
  // align-items: start;

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }
}

.feature {

  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;

  @supports (display: grid) {
    //float: none;  not needed because .feature is now a grid again which does no recognize float
    width: auto;
    margin-bottom: 0;

  }

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2; // -1 will only go to the end of the explicit grid
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
    // grid-column: 2/ -1;
  }
}
